[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ruff = "==0.0.267"
mypy = "==1.3.0"
cfn-lint = "==0.77.5"
black = "==23.3.0"
yamllint = "==1.31.0" 

[dev-packages]
docker = "*"
gitpython = "*"
invoke = "*"
requests = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
