[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "==58.1.0"



[dev-packages]
docker = "*"
gitpython = "*"
invoke = "*"
requests = "*"

[requires]
python_version = "3.10"
